body{
	margin: 0%;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-image: url('Imagenes/Ladrillo.png');
}

section{
	position: absolute;
	top: 0;
	padding:1%;
	background-color: brown;
	width:96%;
	margin:1%;
	
}



article{
	background-color: cyan;
}
img.slideshow{
	background-image: url('Imagenes/Ladrillo.png');
	height:100%;
	width:100%;
	display: block;
}
